body{
    margin: 0;
}
.largeurBody{ /*Taille bloc exterieur vide*/
    display: flex;
    height: 1000px;
}
.bloc{ /*Taille bloc contenu*/
    margin-left: auto;
    margin-right: auto;
    width: 77%;
    background: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* NAVBAR */
.bloc{ /*Contenu navbar*/
    display: flex;
    height: 130px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1A1A1D;
}
.navigation{/*photo navbar*/
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.youcommunik>a>img{   /*div photo navbar*/
    margin-top:40px;
    margin-left:15px;
}
.liste-a-puce-nav>ul{/*liste a puce navbar*/
    display: flex;
    color: white;
    margin-right: 30px;
}
.liste-a-puce-nav>ul>li{/*element de liste a puce navbar*/
    list-style-type: none;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 7px;
}
.liste-a-puce-nav>ul>li>div{/*nom des liste a puce navbar*/
    font-size: 13px;
}
.liste-a-puce-nav>ul>li>img{/*img des liste a puce navbar*/
    margin-bottom: 18%;
}
.liste-a-puce-nav>ul>li:hover{
    opacity: 60%;
}

/* BANNIERE */
.banniere-navbar{ /* bloc banniere */
    display: flex;
    background-color: #334D5C;
    width: 100%;
    height: 253px;
    margin-top: -49px;
}
.banniere-navbar>div:first-child{/*bloc image banniere */
    width: 33%;
    display:flex;
}
.banniere-navbar>div>img{/*image banniere*/
    margin: auto;
}
.banniere-navbar>div:last-child>h1{/*banniere h1*/
    color: white;
    margin-left: 20px;
    margin-top: 70px;
    font-size: 55px;
}
.banniere-navbar>div:last-child>h2{/*banniere h2*/
    margin-left: 20px;
    margin-top: -20px;
    color: white;
    font-size: 40px;
}

/* SECTION 1 */
.ecolsion{ /*div section 1*/
    border: 1px solid rgb(218, 215, 215);
}
.ecolsion>:first-child{ /*le container du premier titre eclosion*/
    display: flex;
    justify-content: center;
}
.ecolsion>:nth-child(2){ /*div: img+p  section1*/
    display: flex;
}
.ecolsion>:nth-child(2)>div:nth-child(1){/*  div : img */
    width: 40%;
    text-align: center;
}
.ecolsion>:nth-child(2)>div:nth-child(2){/*  div : p */
    width: 60%;
}
.ecolsion>:nth-child(2)>div>img{  /*img*/
    margin-right: 100px;
    margin-bottom: 10px;
}
.ecolsion>:nth-child(2)>div>p{ /*p*/
    font-size: large;
    margin-left: 30px;
    width: 80%;
}
.divlogo{/*div logo*/
    background-color: #EAE3D6;
    display: flex;
    justify-content: center;
    height: 210px;
}
.ecolsion>:last-child>div>img{ /*taille des logo section 1*/
    width: 90px;
    height: 90px;
}
.ecolsion>:last-child>div:hover{ /*transparance des logo section1*/
    opacity:60%;
}
.descriplogo{ /*description des logo*/
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
.logo1, .logo2, .logo3, .logo4{ /*div : img+div*/
    margin-top:3% ;
    margin-left: 5%;
    margin-right: 5%;
}
.logo2>img{ /*logo2*/
    margin-left: 19%;
}
.logo3>img{ /*logo3*/
    margin-left: 15%;
}
.logo4>img{ /*logo4*/
    margin-left: 13%;
}

/* SECTION 2 */
.evolution{ /*div section 1*/
    border: 1px solid rgb(218, 215, 215);
}
.evolution>:first-child{ /*le container du premier titre eclosion*/
    display: flex;
    justify-content: center;
}
.evolution>:nth-child(2){ /*div: img+p  section1*/
    display: flex;
}
.evolution>:nth-child(2)>div:nth-child(1){/*  div : img */
    width: 40%;
    text-align: center;
}
.evolution>:nth-child(2)>div:nth-child(2){/*  div : p */
    width: 60%;
}
.evolution>:nth-child(2)>div>img{  /*img*/
    margin-right: 100px;
    margin-bottom: 10px;
}
.evolution>:last-child>div>div:hover{ /* transparance des logo section2*/
    opacity: 60%;
}
.evolution>:nth-child(2)>div>p{ /*p*/
    font-size: large;
    margin-left: 30px;
    width: 80%;
}
.divlogo2{ /*  containeur des deux div logo */
    height: 330px;
    display: flex;
    flex-direction: column;
    background-color: #EAE3D6;
}
.premdivlogo2{/*  premiere div de logo */
    height: 175px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.deudivlogo2{/*  deuxieme div de logo */
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo5>img, .logo6>img, .logo7>img, .logo8>img{ /*taille logo section2*/
    width: 90px;
    height: 90px;
}
.logo5, .logo6, .logo7, .logo8{ /*div des logo section 2*/
    height: 150px;
    width: 140px;
    margin-top: 2%;
    padding-top: 0.2%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}
.logo9{
    text-align: center;
    margin-top: -2%;
}
.logo9>img{
    width: 90px;
    height: 90px;
}
.descriptlogo1{ /*description des logo section2*/
    font-size: 18px;
    margin-top: 5%;
}
.descriptlogo1bis{/*description du logo a part section2*/
    font-size: 18px;
    margin-top: 5%;
}
/* SECTION 3 */
.envole{ /*div section 1*/
    border: 1px solid rgb(218, 215, 215);
}
.envole>div:last-child>div:hover{/*transparance des logo section3*/
    opacity: 60%;
}
.envole>:first-child{ /*le container du premier titre envole*/
    display: flex;
    justify-content: center;
}
h3{ /*tout les titre h3*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color:#334d5c ;
    font-size: 55px;
    padding: 10px;
    width: 30%;
    text-align: center;
}
.envole>:nth-child(2){ /*div: img+p  section3*/
    display: flex;
}
.envole>:nth-child(2)>div:nth-child(1){/*  div : img */
    width: 40%;
    text-align: center;
}
.envole>:nth-child(2)>div:nth-child(2){/*  div : p */
    width: 60%;
}
.envole>:nth-child(2)>div>img{  /*img*/
    margin-right: 100px;
    margin-bottom: 10px;
}
.envole>:nth-child(2)>div>p{ /*p*/
    font-size: large;
    margin-left: 30px;
    width: 80%;
}
.divlogo3{/*div logo*/
    background-color: #EAE3D6;
    display: flex;
    justify-content: center;
    height: 210px;
}
.envole>:last-child>div>img{ /*taille des logo section 3*/
    width: 90px;
    height: 90px;
}
.descriplogo2{ /*description des logo2*/
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
.logo10, .logo11, .logo12, .logo13{ /*div : img+div*/
    margin-top:3% ;
    margin-left: 4%;
    margin-right: 4%;
}
.logo10>img{ /*logo10*/
    margin-left: 22%;
}
.logo11>img{ /*logo11*/
    margin-left: 19%;
}
.logo12>img{ /*logo12*/
    margin-left: 22%;
}
.logo13>img{ /*logo13*/
    margin-left: 20%;
}

/*FOOTER*/
footer{
    background-color: #393a3b;

}
footer>div>div>img{
    height: 65px;
    width: 65px;
}
h4{
    color: white;
    margin-bottom:15%;
    margin-top: 45px;
    font-size:130%;
    margin-left: 23px;
}
.divfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    width: 1169px;
}
.divfooter>div{
    width: 300px;
    margin-left: 80px;

}
.divfooter>div>img{
    margin-left: 8%;
}
.CGV{
    height: 55px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.CGV>a{
    font-size: 13px;
    color: rgb(240, 240, 240);
    text-decoration: none;
    margin-right: 15px;
    margin-top: 12px;
}
.divfooter>div:first-child>:nth-child(2)::before{
    opacity: 60%;
}
.grotest{
    display: flex;

}
.test{
    display: flex;
    background-color: #393a3b;
    height: 220px;
    width: 390px;
    flex-direction: column;
}
.divlogoinfo1{
    color: white;
    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.divlogoinfo2{
    color: white;
    height: 90px;
        margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.divlogoinfo3{
    color: white;
    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.divlogoinfo4{
    color: white;
    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.divlogoinfo5{
    color: white;
    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.divlogoinfo6{
    color: white;
    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.divlogoinfo7{
    color: white;
    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.divlogoinfo8{
    color: white;
    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.divlogoinfo1>img{
    height: 65px;
    width: 65px;
}
.divlogoinfo2>img{
    height: 65px;
    width: 65px;
}
.divlogoinfo3>img{
    height: 65px;
    width: 65px;
}
.divlogoinfo4>img{
    height: 65px;
    width: 65px;
}
.divlogoinfo5>img{
    height: 65px;
    width: 65px;
}
.divlogoinfo6>img{
    height: 65px;
    width: 65px;
}
.divlogoinfo7>img{
    height: 65px;
    width: 65px;
}
.divlogoinfo8>img{
    height: 65px;
    width: 65px;
}
h5{
    color: white;
    font-size: 130%;
    margin-left: 110px;
}
.divlogoinfoprincipal1{
    display: flex;
    justify-content: center;
    margin-left: 80px;

}
.divlogoinfoprincipal2{
    display: flex;
    justify-content: center;
    margin-left: 80px;

}
.divlogoinfoprincipal3{
    display: flex;
    justify-content: center;
}
.infobull1{
    position: absolute;
    font-size: 10px;
    margin-top: -105px;
    border:1px solid black;
    background-color: black;
    padding:7px;
    border-radius:5px;
    margin-left: -1px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    transition: 1s;
    transform: scale(0);
}
.infobull1::before{
    content:"";
    position:absolute;
    border-top:8px solid black;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-top:18px;
    margin-left:9px;
}
.divlogoinfo1:hover>.infobull1{ /*transformation apres passage*/
    transform: scale(1);
}
.infobull2{
    position: absolute;
    font-size: 10px;
    margin-top: -105px;
    border:1px solid black;
    background-color: black;
    padding:7px;
    border-radius:5px;
    margin-left:-3px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    transform: scale(0);
    transition: 1s;
}
.infobull2::before{
    content:"";
    position:absolute;
    border-top:8px solid black;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-top:18px;
    margin-left:12px;
}
.divlogoinfo2:hover>.infobull2{ /*transformation apres passage*/
    transform: scale(1);
}
.infobull3{
    position: absolute;
    font-size: 10px;
    margin-top: -105px;
    border:1px solid black;
    background-color: black;
    padding:7px;
    border-radius:5px;
    margin-left:4px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    transform: scale(0);
    transition: 1s;
}
.infobull3::before{
    content:"";
    position:absolute;
    border-top:8px solid black;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-top:18px;
    margin-left:5px;
}
.divlogoinfo3:hover>.infobull3{ /*transformation apres passage*/
    transform: scale(1);
}
.infobull4{
    position: absolute;
    font-size: 10px;
    margin-top: -105px;
    border:1px solid black;
    background-color: black;
    padding:7px;
    border-radius:5px;
    margin-left:-20px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    transform: scale(0);
    transition: 1s;
}
.infobull4::before{
    content:"";
    position:absolute;
    border-top:8px solid black;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-top:18px;
    margin-left:28px;
}
.divlogoinfo4:hover>.infobull4{ /*transformation apres passage*/
    transform: scale(1);
}
.infobull5{
    position: absolute;
    font-size: 10px;
    margin-top: -105px;
    border:1px solid black;
    background-color: black;
    padding:7px;
    border-radius:5px;
    margin-left:7px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    transform: scale(0);
    transition: 1s;
}
.infobull5::before{
    content:"";
    position:absolute;
    border-top:8px solid black;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-top:18px;
    margin-left: 1px;
}
.divlogoinfo5:hover>.infobull5{ /*transformation apres passage*/
    transform: scale(1);
}
.infobull6{
    position: absolute;
    font-size: 10px;
    margin-top: -105px;
    border:1px solid black;
    background-color: black;
    padding:7px;
    border-radius:5px;
    margin-left:6px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    transform: scale(0);
    transition: 1s;
}
.infobull6::before{
    content:"";
    position:absolute;
    border-top:8px solid black;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-top:18px;
    margin-left:2px ;
}
.divlogoinfo6:hover>.infobull6{ /*transformation apres passage*/
    transform: scale(1);
}
.infobull7{
    position: absolute;
    font-size: 10px;
    margin-top: -105px;
    border:1px solid black;
    background-color: black;
    padding:7px;
    border-radius:5px;
    margin-left:-5px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    transform: scale(0);
    transition: 1s;
}
.infobull7::before{
    content:"";
    position:absolute;
    border-top:8px solid black;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-top:18px;
    margin-left:13px;
}
.divlogoinfo7:hover>.infobull7{ /*transformation apres passage*/
    transform: scale(1);
}
.infobull8{
    position: absolute;
    font-size: 10px;
    margin-top: -105px;
    border:1px solid black;
    background-color: black;
    padding:7px;
    border-radius:5px;
    margin-left:-11px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    transform: scale(0);
    transition: 1s;
}
.infobull8::before{
    content:"";
    position:absolute;
    border-top:8px solid black;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    margin-top:18px;
    margin-left:18px;
}
.divlogoinfo8:hover>.infobull8{  /*transformation apres passage*/
    transform: scale(1);
}
